a {
    text-decoration: none;   
}


.logsignlink {
    
    font-size: 20px;
}

.logintext {
    border: solid, black;
}

.signuptext {
    color: green;
}


#sign {
    margin-left: 50px;
}

.login {
    padding-top: 100px;
}

