body {
    background: #fcf3ec;
}

.reviewContainer{
   display: inline-block;
   margin-left: 20px;
}


.reviewCard {
    align-items: center;
    border-style: solid;
    /* max-width: 600px;
    max-height: 500px; */
    margin-bottom: 10px;
    height: 100px;
    width: 200px;
}


.favoriteButton {
    margin-top: 300px;
    
    
}

.reviewForm {
    margin-top: 50px;
}