* {
    font-family: "Roboto Cn", sans-serif;
}

body {
    background: #fcf3ec;
}

.welcome {
    color: crimson;
}

.reviewContainer{
   display: inline-block;
   margin-left: 20px;

}

.reviewText {

}

.logoutlink {
    color: grey;
 
   
}

.favReviewCard {
    align-items: center;
    border-style: solid;
    max-width: 600px;
    max-height: 500px;
    margin-bottom: 20px;
    height: 100px;
    width: 200px;
    margin-left: 500px;
}


.reviewCard {
    align-items: center;
    border-style: solid;
    max-width: 600px;
    max-height: 500px;
    margin-bottom: 20px;
    height: 100px;
    width: 200px;
    
}

.favContainer {
    align-content: center;
}

.favoriteButton {
    margin-top: 300px;
      
}

.reviewForm {
    margin-top: 50px;
}


.userContainer {
    display: grid;

    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; */
}



.searchBox {
    width: 150px;
    height: 20px;
    text-align: center;
    
}

.searchLabel {
    padding-top: 50px;
    text-align: center;
    margin-right: 30px;
    margin-left: 60px;
    
}

.searchSubmit {
  display: none;
}

