/* * {
 
    text-align: center;
} */

.login {
    padding-top: 130px;
    text-align: center;   
}

.input{
    background-color: white;
}

.button {
    background-color: white;
}

#logintext {
    color: red;
}

